<!-- VISTA DE LA PÁGINA INSTALACIONES DE LA PÁGINA PRINCIPAL SIN HABERSE LOGUEADO -->
<!-- MENÚ COMÚN DE LA PÁGINA PRINCIPAL SIN HACER LOGIN -->
<app-menu-inicio></app-menu-inicio>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 informacion-club">
          <!-- TÍTULO PRINCIPAL CON IMAGEN DE FONDO -->
          <div class="text-center mb-5 parallax-contacto">
            <h1>Instalaciones</h1>
            <p class="lead">Descubre nuestras instalaciones de primer nivel</p>
          </div>
          <!-- LISTA DE ELEMENTOS IMAGEN-TEXTO DONDE SE EXPLICAN LAS INSTALACIONES DEL CLUB -->

          <!-- PISTAS DE PÁDEL -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/pistas.jpg" class="img-fluid" alt="Pistas de Pádel">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Pistas de Pádel</h2>
              <p>Contamos con ocho pistas de pádel de última generación, todas ellas equipadas con iluminación LED
                para permitir partidos nocturnos. La calidad de nuestras pistas garantiza una experiencia de juego
                óptima para todos los niveles.</p>
            </div>
          </div>

          <!-- PISTA CENTRAL -->
          <div class="row mb-5">
            <div class="col-md-6 order-md-2">
              <img src="../../../assets/img/foto-torneos.jpg" class="img-fluid" alt="Pista Central">
            </div>
            <div class="col-md-6 order-md-1 texto-tarjetas">
              <h2>Pista Central</h2>
              <p>Nuestra pista central cuenta con gradas para espectadores, lo que permite la celebración de torneos y
                exhibiciones con una atmósfera vibrante y llena de energía. Es el corazón del club durante los eventos
                más importantes.</p>
            </div>
          </div>

          <!-- GIMNASIO -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/gimnasio.jpg" class="img-fluid" alt="Gimnasio">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Gimnasio</h2>
              <p>Nuestro gimnasio está equipado con máquinas modernas y una amplia gama de pesas y equipos de cardio,
                diseñados para complementar tu entrenamiento de pádel y ayudarte a mantenerte en forma.</p>
            </div>
          </div>

          <!-- PISCINA CLIMATIZADA -->
          <div class="row mb-5">
            <div class="col-md-6 order-md-2">
              <img src="../../../assets/img/piscina.jpg" class="img-fluid" alt="Piscina Climatizada">
            </div>
            <div class="col-md-6 order-md-1 texto-tarjetas">
              <h2>Piscina Climatizada</h2>
              <p>Disfruta de nuestra piscina climatizada durante todo el año. Es perfecta para relajarse después de un
                partido intenso o simplemente para nadar y mantenerse en forma.</p>
            </div>
          </div>

          <!-- SAUNA Y JACUZZI -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/sauna.jpg" class="img-fluid" alt="Spa y Zona de Relajación">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Sauna y Jacuzzi</h2>
              <p>Relájate en nuestra zona de  sauna y jacuzzi. Un espacio diseñado para
                ofrecerte un momento de tranquilidad y recuperación después del ejercicio.</p>
            </div>
          </div>

          <!-- TEXTO FINAL DE ENGANCHE PARA ATRAER GENTE -->
          <div class="text-center mb-5">
            <h2>Ven a Visitarnos</h2>
            <p class="lead">Te invitamos a conocer nuestras instalaciones y disfrutar de todo lo que el Club de Pádel "El Remanso
              de Espuña" tiene para ofrecer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PIE DE PÁGINA COMÚN -->
<app-footer></app-footer>