<!-- MENÚ COMÚN PARA TODAS LAS PANTALLAS CUANDO HAY UN USUARIO LOGUEADO -->
<!-- CONSTA DE UNA LISTA HORIZONTAL DE OPCIONES -->
<nav class="navbar navbar-expand justify-content-center sticky-top">
    <ul class="nav navbar-nav justify-content-center">
        <!-- PÁGINA DE INICIO. VISIBLE SI EL SOCIO LOGUEADO ES ADMIN -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>
        <!-- PÁGINA DE MI PERFIL. VISIBLE SI EL SOCIO LOGUEADO NO ES ADMIN -->
        <li *ngIf="!isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/inicio/mi-perfil">Mi perfil</a>
        </li>
        <!-- PÁGINA DE SOCIOS -->
        <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/inicio/socios">Socios</a>
        </li>
        <!-- PÁGINA DE PARTIDOS -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio/partidos">Partidos</a>
        </li>
        <!-- PÁGINA DE TORNEOS -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio/torneos">Torneos</a>
        </li>
        <!-- PÁGINA DE PREMIOS -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio/premios">Premios</a>
        </li>
        <!-- BOTÓN QUE NOS LLEVA A LA PANTALLA DE INICIO CERRANDO LA SESIÓN -->
        <li class="nav-item">
            <button class="btn botones-texto-comunes" (click)="cerrarSesion()">Salir</button>
        </li>
    </ul>
</nav>
