<!-- VISTA DE LA PÁGINA CLUB DE LA PÁGINA PRINCIPAL SIN HABERSE LOGUEADO -->
<!-- MENÚ COMÚN DE LA PÁGINA PRINCIPAL SIN HACER LOGIN -->
<app-menu-inicio></app-menu-inicio>
<!-- CONTENEDOR DE LOS ELEMENTOS DE LA PANTALLA CLUB -->
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 informacion-club">
          <!-- TÍTULO PRINCIPAL CON IMAGEN DE FONDO -->
          <div class="text-center mb-5 parallax-club">
            <h1>Club de Pádel Sierra Espuña</h1>
            <p class="lead">Un lugar donde el deporte y la naturaleza se encuentran</p>
          </div>
          <!-- LISTA DE ELEMENTOS IMAGEN-TEXTO DONDE SE EXPLICA ASPECTOS IMPORTANTES DEL CLUB -->

          <!-- FUNDACIÓN Y UBICACIÓN -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/sierra_espunya.jpg" class="img-fluid" alt="Sierra Espuña">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Fundación y Ubicación</h2>
              <p>El Club de Pádel Sierra Espuña fue fundado en el año 2010 por un grupo de entusiastas del pádel de la
                región de Murcia. Ubicado en el pintoresco municipio de Totana, el club se encuentra a pocos kilómetros
                de la majestuosa Sierra Espuña, lo que le confiere un entorno natural inigualable.</p>
            </div>
          </div>
          <!-- INSTALACIONES -->
          <div class="row mb-5">
            <div class="col-md-6 order-md-2">
              <img src="../../../assets/img/instalaciones.jpg" class="img-fluid" alt="Instalaciones">
            </div>
            <div class="col-md-6 order-md-1 texto-tarjetas">
              <h2>Instalaciones</h2>
              <p>Las instalaciones del club son de primer nivel, con cuatro pistas de pádel de última generación, todas
                ellas equipadas con iluminación LED para permitir partidos nocturnos. Además, cuenta con una pista
                central con gradas para espectadores, donde se celebran torneos y exhibiciones. También encontramos
                restaurante, gimnasio, vestuarios, piscina, sauna y jacuzzi.</p>
            </div>
          </div>
          <!-- ACTIVIDADES Y SERVICIOS -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/actividades.jpg" class="img-fluid" alt="Actividades y Servicios">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Actividades y Servicios</h2>
              <ul>
                <li>Escuela de Pádel</li>
                <li>Torneos y Ligas</li>
                <li>Actividades Sociales</li>
              </ul>
            </div>
          </div>
          <!-- COMPROMISO COMUNIDAD Y MEDIO AMBIENTE -->
          <div class="row mb-5">
            <div class="col-md-6 order-md-2">
              <img src="../../../assets/img/comunidad.jpg" class="img-fluid" alt="Compromiso con la Comunidad y el Medio Ambiente">
            </div>
            <div class="col-md-6 order-md-1 texto-tarjetas">
              <h2>Compromiso con la Comunidad y el Medio Ambiente</h2>
              <p>El club tiene un fuerte compromiso con la comunidad local y el medio ambiente. Regularmente organiza
                eventos benéficos y colaboraciones con escuelas y asociaciones locales para promover el deporte y un
                estilo de vida saludable.</p>
            </div>
          </div>
          <!-- PROYECTOS FUTUROS -->
          <div class="row mb-5">
            <div class="col-md-6">
              <img src="../../../assets/img/proyectos.jpg" class="img-fluid" alt="Proyectos Futuros">
            </div>
            <div class="col-md-6 texto-tarjetas">
              <h2>Proyectos Futuros</h2>
              <p>Mirando hacia el futuro, el Club de Pádel Sierra Espuña tiene planes ambiciosos para seguir creciendo y
                mejorando. Entre los proyectos a corto plazo se encuentran la ampliación de las instalaciones con la
                construcción de nuevas pistas cubiertas y la creación de un albergue deportivo.</p>
            </div>
          </div>
          <!-- HISTORIA Y TRADICIÓN -->
          <div class="row mb-5">
            <div class="col-md-6 order-md-2">
              <img src="../../../assets/img/historia.jpg" class="img-fluid" alt="Historia y Tradición">
            </div>
            <div class="col-md-6 order-md-1 texto-tarjetas">
              <h2>Historia y Tradición</h2>
              <p>A lo largo de los años, el club ha sido testigo de innumerables historias de éxito y superación
                personal. Desde jóvenes talentos que han encontrado en el club su pasión por el deporte, hasta veteranos
                que han mantenido su pasión por el pádel viva durante décadas.</p>
            </div>
          </div>
          <!-- CONCLUSION FINAL DE LA HISTORIA DEL CLUB -->
          <div class="text-center mb-5">
            <h2>Conclusión</h2>
            <p class="lead">El Club de Pádel Sierra Espuña es mucho más que un lugar para jugar al pádel; es una comunidad vibrante y
              un refugio donde el deporte, la naturaleza y la amistad se entrelazan para ofrecer una experiencia única.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PIE DE PÁGINA COMÚN -->
<app-footer></app-footer>